<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_has_facilities.each do |property_has_facility| %>
      <tr>
        <td><%= property_has_facility.number %></td>
        <td><%= property_has_facility.facility.full_name %></td>


        <td><%= link_to 'Show',  property_property_has_facility_path(@property,property_has_facility) %></td>
        <td><%= link_to 'Edit', edit_property_property_has_facility_path(@property,property_has_facility) %></td>
        <td><%= link_to 'Destroy', property_property_has_facility_path(@property,property_has_facility), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Anlage dem Objekt zuweisen', new_property_property_has_facility_path(@property) %>
