<%= simple_form_for @inspection_specification, :html => { :class => 'form-horizontal form-model' } do |f| %>

  <%= f.association :location %>
  <%= f.association :facility, label_method: :full_name %>
  <%= f.association :facility_category %>
  <%= f.association :planning_permission %>


  <%= f.input :specification %>
  <%= f.input :basis_of_check %>
  <%= f.input :intervall_in_years %>
  <%= f.input :intervall_information %>
  <%= f.input :kind_of_check %>
  <%= f.input :first_check %>
  <%= f.input :first_check_information %>
  <%= f.input :comment %>

  <div class='col-md-offset-2 col-md-10'>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      inspection_specifications_path, :class => 'btn btn-default' %>≈≈≈≈“
  </div>
<% end %>
