<%= simple_form_for [@property,@insurance], :html => { :class => 'form-horizontal form-model' } do |f| %>


    <%= f.input :name %>
    <%= f.input :notes %>



    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  @property, :class => 'btn btn-default' %>
    </div>
<% end %>
