<%= simple_form_for @property do |f| %>

    <%= f.association :tanant, label_method: :company %>
    <%= f.association :planning_permission, label_method: :name %>

    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :name %>
    <%= f.input :zip %>
    <%= f.input :year_of_construction %>
    <%= f.input :owner %>
    <%= f.input :company %>
    <%= f.input :asset_management %>
    <%= f.input :property_management %>
    <%= f.input :service_provider %>
    <%= f.input :has_garage %>
    <%= f.input :calc_of_rentable_area %>
    <%= f.input :plans %>
    <%= f.input :lightning_protection_level %>
    <%= f.input :has_land_register_record %>
    <%= f.input :has_spezification %>
    <%= f.input :has_energy_pass %>
    <%= f.input :has_fire_protection_plan %>
    <%= f.input :has_soil_expertise %>
    <%= f.input :has_electric_meter_per_rentable_areas %>
    <%= f.input :has_plan_landregister %>
    <%= f.input :has_soil_pollution %>
    <%= f.input :has_keyregister %>
    <%= f.input :has_construction_specification %>
    <%= f.association :insurance, label_method: :name %>



    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    </div>

<% end %>
