<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @property.zip %>
</p>

<p>
  <strong>Year of construction:</strong>
  <%= @property.year_of_construction %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @property.owner %>
</p>

<p>
  <strong>Company:</strong>
  <%= @property.company %>
</p>

<p>
  <strong>Asset management:</strong>
  <%= @property.asset_management %>
</p>

<p>
  <strong>Property management:</strong>
  <%= @property.property_management %>
</p>

<p>
  <strong>Service provider:</strong>
  <%= @property.service_provider %>
</p>

<p>
  <strong>Has garage:</strong>
  <%= @property.has_garage %>
</p>

<p>
  <strong>Calc of rentable area:</strong>
  <%= @property.calc_of_rentable_area %>
</p>

<p>
  <strong>Plans:</strong>
  <%= @property.plans %>
</p>

<p>
  <strong>Lightning protection level:</strong>
  <%= @property.lightning_protection_level %>
</p>

<p>
  <strong>Has land register record:</strong>
  <%= @property.has_land_register_record %>
</p>

<p>
  <strong>Has spezification:</strong>
  <%= @property.has_spezification %>
</p>

<p>
  <strong>Planning permission:</strong>
  <%= @property.planning_permission %>
</p>

<p>
  <strong>Has energy pass:</strong>
  <%= @property.has_energy_pass %>
</p>

<p>
  <strong>Has fire protection plan:</strong>
  <%= @property.has_fire_protection_plan %>
</p>

<p>
  <strong>Tanant:</strong>
  <%= @property.tanant %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @property.insurance %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
