<%= simple_form_for [@property,@facility], :html => { :class => 'form-horizontal form-model' } do |f| %>

      <%= f.input :name %>
      <%= f.input :specification %>
      <%= f.input :description %>
      <%= f.input :comment %>
      <%= f.association :facility_category %>

    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  facilities_path, :class => 'btn btn-default' %>
    </div>
<% end %>
