<%= simple_form_for(@facility) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :specification %>
    <%= f.input :notes %>
    <%= f.association :property %>
    <%= f.input :base_of_check %>
    <%= f.association :facility_category %>
    <%= f.association :insurance_facility %>
    <%= f.input :amount %>
    <%= f.input :number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
