<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @facility.specification %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @facility.notes %>
</p>

<p>
  <strong>Property:</strong>
  <%= @facility.property %>
</p>

<p>
  <strong>Base of check:</strong>
  <%= @facility.base_of_check %>
</p>

<p>
  <strong>Facility category:</strong>
  <%= @facility.facility_category %>
</p>

<p>
  <strong>Insurance facility:</strong>
  <%= @facility.insurance_facility %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @facility.amount %>
</p>

<p>
  <strong>Number:</strong>
  <%= @facility.number %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
