<%- model_class = Defect -%>
<div class="page-header">
  <h1><%=t '.title', :default => Defect %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:level) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:proof_of_status) %></th>
      <th><%= model_class.human_attribute_name(:proof_of_order) %></th>
      <th><%= model_class.human_attribute_name(:has_confirmed_order) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @defects.each do |defect| %>
      <tr>
        <td><%= defect.id %></td>
        <td><%= defect.level %></td>
        <td><%= defect.notes %></td>
        <td><%= defect.status %></td>
        <td><%= defect.proof_of_status %></td>
        <td><%= defect.proof_of_order %></td>
        <td><%= defect.has_confirmed_order %></td>
        <td><%=l defect.created_at, format: :long %></td>
        <td>
          <%= link_to defect_path(defect), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to defect_path(defect), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_defect_path,
            :class => 'btn btn-primary' %>
