<h1>Listing planning_permissions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planning_permissions.each do |planning_permission| %>
      <tr>
        <td><%= planning_permission.name %></td>
        <td><%= link_to 'Show', planning_permission %></td>
        <td><%= link_to 'Edit', edit_planning_permission_path(planning_permission) %></td>
        <td><%= link_to 'Destroy', planning_permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planning permission', new_planning_permission_path %>
