<h1>Listing facility_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facility_categories.each do |facility_category| %>
      <tr>
        <td><%= facility_category.name %></td>
        <td><%= link_to 'Show', facility_category %></td>
        <td><%= link_to 'Edit', edit_facility_category_path(facility_category) %></td>
        <td><%= link_to 'Destroy', facility_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facility category', new_facility_category_path %>
