<%= form_for @inspection, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :inspector, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :inspector, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :eq_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :eq_number, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :protocol_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :protocol_number, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :protocol_file, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :protocol_file, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :inspector_company, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :inspector_company, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  inspections_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
